* {
  margin: 0px;
  padding: 0px;
}

.header {
  background-image: url(background.jpg);
  position: relative;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

nav {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  top: 15%;
  right: 3%;
}

.navLinks {
  position: absolute;
  flex: 1;
}

.navLinks ul li {
    position: relative;
  list-style: none;
  padding: 8px 12px;
}
.navLinks ul li a:hover {
  color: rgb(255, 255, 255, 100%);
}

.navLinks ul li a {
  color: rgb(255, 255, 255, 70%);
  text-decoration: none;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.textBox {
  position: absolute;
  bottom: 25%;
  left: 10%;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h1 {
  margin: 10px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 80px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
/*
.navLine {
    display: flex;
    flex-direction: row-reverse;
  position: relative;
  z-index: 2;
  list-style: none;
  
  justify-content: space-between;
  align-items: center;
  top: -16px;
  right: 20%;
  font-weight: bold;
}
.navLine ul li {
    
  list-style: none;
  padding: 8px 12px;
  max-height: 100px;
  color: white;
 
  opacity:20%;

  transition-property:opacity;
  transition-duration: 1s;
  transition-timing-function: ease ;
}
.navLinks ul li a:is(:hover, :focus) ~ .navLine ul li  {
    opacity: 100%;
    display: block;
  }
*/
.item:hover::before {
  position: absolute;
  display: inline-block;
  transform: translateX(-90px);
  content: "";
  width: 5rem;
  height: 2px;
  margin-right: 5px;
  margin-top: 10px;
  background-color: white;
}
